---
layout: default
title: Lantiq xDSL firmware information
---

<div>

	{% assign sortedChips = site.data | sort %}
	{% for chip in sortedChips %}
		<div class="table-responsive w-100" style="padding-left: 0.75em; padding-top: 0.75em">
			<h2 id="{{ chip[0] }}">{{ chip[1].size }} xDSL firmware files for <b>{{ chip[0] }}</b>:</h2>
			<table class="table table-hover">
				<caption>xDSL firmware files for {{ chip[0] }}</caption>
				<thead>
					<tr>
						<th>File version</th>
						<th>sha1sum</th>
						<th>Filesize</th>
						<th>Firmware Version</th>
						<th>Application Type</th>
						<th>Release Type</th>
						<th>Where to download?</th>
					</tr>
				</thead>
				<tbody class="table-group-divider">
					{% assign sortedFirmwares = chip[1] | sort %}
					{% for firmware in sortedFirmwares %}
						<tr>
							{% assign isRedistributable = false %}
							{% for download in firmware[1].downloads %}
								{% if download.redistributable == true %}
									{% assign isRedistributable = true %}
								{% endif %}
							{% endfor %}

							<td class="text-nowrap align-middle">
								{{ firmware[1].version }}

								{% if isRedistributable %}
									<i class="bi bi-globe ms-1" title="Redistributable version"></i>
								{% endif %}
							</td>
							<td class="text-nowrap align-middle">{{ firmware[1].sha1sum }}</td>
							<td class="text-nowrap align-middle">{{ firmware[1].filesize }}</td>
							{% include firmwaredetails.html %}
							{% include downloadcolumn.html %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<br />
	{% endfor %}

</div>
