<td class="align-middle">
	<button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#modal-dialog-{{ firmware[1].sha1sum }}" aria-expanded="false" aria-controls="modal-dialog-{{ firmware[1].sha1sum }}">
		<i class="bi bi-cloud-download me-2"></i>
		Show downloads
	</button>

	<div id="modal-dialog-{{ firmware[1].sha1sum }}" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Downloads for {{ firmware[1].version }}</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					{% for download in firmware[1].downloads %}
						{% if forloop.first != true %}
							<hr />
						{% endif %}
						<div>
							<a href="{{ download.url }}" title="Download {{ download.url }}" rel="nofollow" download class="text-decoration-none">
								<i class="bi bi-cloud-download icon-big me-2"></i>
								{{ download.url }}
							</a>

							<p>
								{% if download.redistributable == true %}
									<i class="bi bi-globe icon-big me-2" aria-hidden="true"></i> Redistributable version
								{% else %}
									<i class="bi bi-incognito icon-big me-2" aria-hidden="true"></i> Non-redistributable version
								{% endif %}
							</p>

							<hr />

							{% if download.extractionsteps %}
								<h4>Extracting the source files:</h4>
								<div class="highlight m-2">
									{{ download.extractionsteps }}
								</div>
							{% endif %}
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</td>
