<td>
	<span class="text-nowrap">{{ firmware[1].Firmware1.VERSION_STR }}</span>

	{% if firmware[1].Firmware2 %}
		<hr style="margin-top: 8px; margin-bottom: 8px;" />
		<span class="text-nowrap">{{ firmware[1].Firmware2.VERSION_STR }}</span>
	{% endif %}
</td>
<td>
	<span class="text-nowrap">{{ firmware[1].Firmware1.APPLICATION_TYPE_STR }}</span>

	{% if firmware[1].Firmware2 %}
		<hr style="margin-top: 8px; margin-bottom: 8px;" />
		<span class="text-nowrap">{{ firmware[1].Firmware2.APPLICATION_TYPE_STR }}</span>
	{% endif %}
</td>
<td>
	<span class="text-nowrap">{{ firmware[1].Firmware1.RELEASE_STATUS_STR }}</span>

	{% if firmware[1].Firmware2 %}
		<hr style="margin-top: 8px; margin-bottom: 8px;" />
		<span class="text-nowrap">{{ firmware[1].Firmware2.RELEASE_STATUS_STR }}</span>
	{% endif %}
</td>
